<div class="gamelistcontainer">
    <div class="mt-4 row">
        <div class="col-12">
            <pagination *ngIf="pagedGames && games && games.length > pageSize" [(ngModel)]="page"  [totalItems]="games.length" (pageChanged)="pageChanged($event)"></pagination>
        </div> 
    </div>
    <div class="row games">
        <div class="col-3 games" *ngFor="let g of pagedGames">
            <app-game-list-element [game]="g" (AddedToCart)="onAddedToCart($event)"></app-game-list-element>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <pagination *ngIf="pagedGames && games && games.length > pageSize " [(ngModel)]="page"  [totalItems]="games.length" (pageChanged)="pageChanged($event)"></pagination>
        </div>    
    </div>
</div>

    

