.loginlinks, .userdata {
    font-size: 0.8em;
}
.loginlinks {
    padding-top: 32px;
}
.loginlinks a {
    padding: 6px;
}
.imguser {
    width: 48px;
    margin-top: 8px;
}
.userdata {
    padding-top: 32px;
}

.card-header {
    padding: 0.5rem 0.8rem;
    font-size: 0.8em;
}
.card-body {
    padding: 0.5rem;
    font-size: 0.8em;
}
.form-group {
    margin-bottom: 0.2rem;
}
.btn-sm {
    font-size: 0.8rem;
}
.alert {
  margin-bottom: 0.3rem;  
}